github "bakkenbaeck/Teapot" ~> 1.3.0
github "UseSweet/SweetFoundation" ~> 1.2.0
github "UseSweet/SweetSwift" "looping"
github "UseSweet/SweetUIKit" "master"
github "marketplacer/keychain-swift" ~> 7.0
